.breadcrumbs-wrapper {
  display: flex;
  align-items: stretch;
  user-select: none;
}

.up-button-wrapper {
  border-width: 2px;
  border-style: solid;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #b4b4b4;
  border-bottom-color: #dcdcdc;

  padding-left: 0.1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-right: 0.6rem;
}

.up-button {
  background: none;
  border: 1px solid transparent;
  padding: 0.1rem;
  display: block;

  &:hover {
    cursor: pointer;
    border: 1px solid #cce8ff;
    background: #e5f3ff;
  }

  // https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image
  & > img {
    display: block;
  }
}

.breadcrumbs-list-wrapper {
  border: 1px solid #7a7a7a;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 1px;

  &:hover {
    border: 1px solid #0078d7;

    & a {
      background-color: #0078d7;
      color: #fff;
    }
  }

  & > img {
    margin-left: 0.2rem;
    margin-right: 0.4rem;
  }
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-list > a {
  background: none;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-decoration: none;
  color: #000;
  // font-size: 0.8rem;

  &:hover {
    cursor: pointer;
    border: 1px solid #cce8ff;
    background: #e5f3ff;
    color: #000 !important;
  }
}
